.phone-block__item-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}
.phone-block__item-link {
  width: 100%;
}

.phone-block .dropdown {
  display: none;
  max-width: 275px;
}
.phone-block .dropdown--inited {
  display: block;
}
.phone-block .dropdown .phone-block__item-text {
  display: block;
  max-width: calc(100% - 32px);
}

.with_dropdown {
  position: relative;
  padding-right: 12px !important;
}

.with_dropdown:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2px;
  width: 5px;
  height: 3px;
  background: url(../images/svg/next.svg) -20px -333px no-repeat;
}
.with_dropdown .dropdown {
  left: 0;
  min-width: 175px;
  opacity: 0;
  position: absolute;
  top: -11px;
  transition: all 0.1s ease-in-out;
  visibility: hidden;
  z-index: 2;
}
.with_dropdown .dropdown > .wrap {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.with_dropdown:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.top-block-item .phone-block {
  margin: 0 -7px;
}
.top-block-item .phone-block > .inline-block {
  padding: 0 7px;
}
.top-block-item .phone-block .callback-block {
  display: block;
}
.top-block-item .phone-block .dropdown {
  left: 0px;
}

.top-block-item .phone {
  display: inline-flex;
  font-size: 1em;
  font-weight: bold;
  line-height: 18px;
  position: relative;
}
.top-block-item .phone.with_dropdown:after {
  margin-top: -1px;
}
.top-block-item .phone-block__item-link {
  color: #222;
}
.top-block-item .phone > .phone-block__item-link {
  margin: -14px 0;
  padding: 14px 0;
  position: relative;
}
.phone-block .phone-block__item {
  font-size: 1em;
  line-height: 18px;
  border-top: 1px solid #f2f2f2;
}
.phone-block .phone-block__item:first-of-type {
  border-top: none;
}
.phone-block .dropdown .phone-block__item-inner {
  padding: 11px 11px 11px 18px;
  white-space: nowrap;
  gap: 0 11px;
}
.phone-block__item-link.no-decript {
  line-height: 31px;
}
.dropdown .phone-block__item-link:hover {
  background-color: #f9f9fa;
}
.phone-block__item-description {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
  padding-top: 2px;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 
#header .phone-block__item {
  font-size: 1.006289em;
} */

/* header */
.logo_and_menu-row .phone-block .schedule {
  margin: 0 0 0 23px;
  font-size: 0.8em;
  line-height: 1em;
  color: #999999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.logo_and_menu-row .phone {
  display: flex;
  font-weight: bold;
  margin: 4px 0 -3px;
  position: relative;
}
/* .logo_and_menu-row .phone.with_dropdown > .dropdown {
  top: -7px;
} */
.logo_and_menu-row .with_btn .phone {
  margin-top: 0px;
}
.logo_and_menu-row .phone-block.phone .svg-phone {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -6px 0 0;
}
.logo_and_menu-row .phone-block__item-link {
  color: #222;
  line-height: 18px;
  white-space: nowrap;
}

.top-block .phone-block__item-link {
  padding: 11px 11px 10px 22px;
}
.header-wrapper .dropdown .phone-block__item-link {
  padding: 11px 11px 11px 18px;
}


/* footer */
footer .phone {
  line-height: 18px;
}
footer .phone > .phone-block__item-link {
  padding: 0;
}
footer .phone-block__item-link {
  color: #ffffff;
  font-weight: bold;
  padding: 10px 21px 10px 22px;
}
footer .phone .dropdown {
  left: -18px;
}
footer .phone .dropdown--top {
  top: auto;
  bottom: -11px;
}
footer .phone--with-description .dropdown--top {
  bottom: -32px;
}
footer .dropdown--top .wrap {
  display: flex;
  flex-direction: column-reverse;
}

.footer-grey .dropdown .phone-block__item-link {
  color: #222222;
}
footer .phone-block__item-description {
  padding-top: 3px;
}

/*footer phone*/
#footer .footer_bottom_inner .phone_block {
  white-space: nowrap;
  margin-top: -2px;
  padding-right: 3px;
  position: relative;
}
#footer .footer_bottom_inner .phone_block .phone {
  display: block;
  position: relative;
}
#footer .footer_bottom_inner .phone_block a {
  color: #222;
}
#footer .footer_bottom_inner .phones .phone_wrap,
#footer .footer_bottom_inner .phones .phone_wrap a {
  display: block;
}
#footer .footer_bottom_inner .phones .phone_wrap a {
  font-size: 18px;
  font-weight: bold;
}
#footer .footer_bottom_inner .phones,
#footer .footer_bottom_inner .social_wrapper {
  float: right;
}
#footer .footer_bottom_inner .phones .icons {
  margin: 0px 0px 0px;
}
#footer .footer_bottom_inner .phones .order_wrap_btn {
  margin: 0px 0px 0px 27px;
  position: relative;
  top: -2px;
}
#footer .footer_bottom_inner .phones .order_wrap_btn .callback_btn {
  letter-spacing: 0.8px;
}

/* mobile phones */
.phone-block--mobile {
  display: none;
  height: calc(100dvh - 63px);
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3000;
}
.phone-block--mobile .wrap {
  background: #fff;
  max-height: 100%;
  overflow-y: auto;
}
@media screen and (min-width: 600px) {
  .phone-block--mobile .phone-block__item-inner {
    max-width: 260px;
  }
}
.phone-block__item-button {
  background: unset;
  border: unset;
  box-shadow: unset;
  width: 100%;
}
.phone-block--mobile .svg-inline-phone,
.phone-block__item .svg-inline-close {
  cursor: pointer;
}
.phone-block--mobile .phone-block__item-text {
  font-weight: bold;
  font-size: 1.071em;
}
.phone-block--mobile .phone-block__item > .phone-block__item-description {
  font-size: 0.8em;
  font-weight: normal;
  padding-top: 2px;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
}
.phone-block--mobile .phone-block__item-inner {
  padding: 15px 18px 12px;
}
.phone-block--mobile .phone-block__item-inner--no-description {
  padding: 21px 18px 22px;
}
.phone-block--mobile .callback {
  font-weight: normal;
}
.phone-block--mobile .phone-block__item {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  line-height: 1.2em;
}
.phone-block--mobile .phone-block__item.title {
  background: #fbfbfb;
}
.phone-block--mobile .phone-block__item.title .svg-inline-close {
  right: 9px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  margin: -8px 0 0 -8px;
}
.mobile-menu-contacts .descr {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
  padding-top: 2px;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
}